@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: var(--font-pretendard);
  --font-moneygraphy: var(--font-moneygraphy);
  --font-suit: var(--font-suit);
  --font-dunggeunmo: var(--font-dunggeunmo);
}

/* 전역 배경색과 폰트 적용 */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), sans-serif;
}
